@font-face {
    font-family: 'CustomFont';
    src: url('./assets/fonts/bpg_mikheil_stefane.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


body {
    background-color: #F5E5D9;
    margin: 0; 
    padding: 0;
    font-family: 'CustomFont';
}
header {
    width:1920px;
    height:187px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerleft {
    margin: 29px 0 0 19px;
    width: 345px;
    height:165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerlogo {
    width: 153px;
    height:165px;
}
.headerlefttextcontainer {
    width: 160px;
    height: 104px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headerlefttextcontainer p:nth-of-type(1) {
    color: black;
    font-size: 40px;
    width:160px;
    height:56px;
    padding: 0;
    margin:0;
}
.headerlefttextcontainer p:nth-of-type(2) {
    color: black;
    font-size: 20px;
    width:151px;
    height:38px;
    padding: 0;
    margin:0;
   
}

.headerright {
    width: 538px;
    height:48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-right: 30px;
    font-size: 24px;
}

.headerright p:nth-of-type(4) {
    border: 1px solid #FFFFFF;
    padding: 7px 19px;
    border-radius: 24px;
    background-color: #FFFFFF;
}
