@font-face {
    font-family: 'CustomFont';
    src: url('./assets/fonts/bpg_mikheil_stefane.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
    margin:0;
    padding:0;
}
body {
    background-color: #F5E5D9;
    margin: 0; 
    padding: 0;
    font-family: 'CustomFont';
}
header {
    min-width: 1280;
    max-width:1920px;
    height:187px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0; 
    padding: 0;
}
.headerleft {
    margin: 29px 0 0 19px;
    width: 345px;
    height:165px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerlogo {
    width: 153px;
    height:165px;
}
.headerlefttextcontainer {
    width: 160px;
    height: 104px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headerlefttextcontainer p:nth-of-type(1) {
    color: black;
    font-size: 40px;
    width:160px;
    height:56px;
    padding: 0;
    margin:0;
}
.headerlefttextcontainer p:nth-of-type(2) {
    color: black;
    font-size: 20px;
    width:151px;
    height:38px;
    padding: 0;
    margin:0;
   
}

.headerright {
    width: 538px;
    height:48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-right: 30px;
    font-size: 24px;
}

.headerright p:nth-of-type(4) {
    border: 1px solid #FFFFFF;
    padding: 7px 19px;
    border-radius: 24px;
    background-color: #FFFFFF;
}

.firstsectionbackground {
    position: relative;
    width:1920px;
    height: 924px; 
    background-image: url('./assets/images/2. Banner.png');
    background-size: cover; 
    background-position: center; 
    color: white; 
    padding-top: 50px;
}

.firstsectiontextcontainer {
    width:678px;
    height:240px;
    margin-left:118px; 
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    flex-direction: column;
}
.firstsectionbackground p:nth-of-type(1) {
    width:309px;
    height:70px;
    font-size: 50px;
    margin: 0; 
    padding: 0;
}
.firstsectionbackground p:nth-of-type(2) {
    width:678px;
    height:126px;
    font-size: 30px;
    margin: 0; 
    padding: 0;
}
.secondsection {
    height:1283px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secondsection p:nth-of-type(1) {
    margin-top: 87px;
    font-size: 48px;
    margin-bottom: 65px;
    padding:0;
    width:203px;
    height: 44px;
}
.secondsectioncontainer {
    width:100%;
    height: 926px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.secondsectionconcard {
    width: 550px;
    height: 274px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.secondsectionconcard img {
    width: 275px;
    height: 274px;
}
.secondsectionconcardbox {
    width: 275px;
    height: 274px;
    background-color: #E3B58A;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.secondsectionconcardbox p:nth-of-type(1) {
    position: relative;
    margin: 0;
    padding: 0;
    font-size: 48px;
    color: #ffffff;
}
.secondsectionconcardbox p:nth-of-type(2) {
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: 5px;
    left:calc(137px - 38px);
    font-size: 16px;
    align-items: center;
    height: 30px;
}
.mb-161 {
    margin-bottom: 161px;
}
.thirdsection {
    width:100%;
    height: 763px;
    background-color: #ffd7b2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.thirdsectioncontainer {
    width: 1720px;
    height: 577px;
    background-color: #fcf1ea;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-left:75px ;
    padding-right: 241px;
}

.dajavshnecontainer {
    width: 752px;
    height: 480px;
}
.dajavshnecontainer p {
    width: 319px;
    height: 41px;
    font-size: 48px;
    margin-left: 177px;
}

.dajavshnecontainercard {
    width: 100%;
    height: 401px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: calc(38px + 24px);
}
.dajavshnecontainercard img {
    width: 365px;
    height: 401px;
}

.dajavshnecontainercardbox, .contactcontainercardbox {
    width: 328px;
    height: 336px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.dajavshnecontainercardbox input ,.contactcontainercardbox input {
    width: 328px;
    height: 41px;
    border-radius: 20px;
    border: 0;
    color: black;
    padding-left: 20px;
    font-size: 20px;
    font-family: 'CustomFont';
}

.contactcontainer {
    width: 328px;
    height: 480px;
}

.contactcontainer p {
    width: 185px;
    height: 41px;
    font-size: 48px;
}

.contactcontainercardbox {
    height: 240px;
    margin-top: calc(108px + 24px);
}
footer {
    width: 100%;
    background-color:#FCF1EA;
    padding-top:100px ;
    display: flex;
    justify-content: center;
}

.footercontainer {
    width:570px;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footerbox {
    width: 247px;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footerbox img:nth-of-type(1) {
    width: 65px;
    height: 65px;
}
.footerbox img:nth-of-type(2), .footerbox img:nth-of-type(3) {
    width: 72px;
    height: 72px;
}
footer p {
    font-size: 40px;
    margin: 0;
    padding: 0;
}

@media (max-width: 1780px) {
   
  
    .thirdsectioncontainer {
        padding-right: 75px;
    }
  
  }